:root {
  --color-green-1:#011a1a;
  --color-green-2:#034a4b;
  --color-green-3:#012a2b;
  --color-green-4:#046a6c;
  --color-green-5:#046a6c8a;
  --color-grey-light-1:#faf9f9;
  --color-grey-light-2:#f4f2f2;
  --color-grey-light-3:#f0eeee;
  --color-grey-dark-1:#333;
  --color-grey-dark-2:#777;
  --color-grey-dark-3:#999;
  --shadow-dark:0 2rem 6rem rgba(0,0,0,.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: (68, 75em)) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 128rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-green-2);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.details {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2); }
  @media only screen and (max-width: 56.25em) {
    .details {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .details {
      flex-direction: column; } }

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem; }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }

.user-review {
  flex: 1;
  font-size: 1.4rem; }

.logo {
  height: 4.5rem;
  margin-left: 2rem; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-green-2);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    left: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__signin-text {
    font-size: 1.3rem;
    color: var(--color-green-2);
    margin-right: 2rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative;
    cursor: pointer; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-green-1); }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-green-3);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__link {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link {
        flex-direction: column;
        padding: 1.5rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: .7rem; } }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-1);
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.text {
  background-color: var(--color-grey-light-1);
  padding: 2rem;
  text-align: center; }
  .text__headline {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-green-2);
    letter-spacing: 1px;
    margin-bottom: 1.5rem; }
  .text__sec-headline {
    font-size: 1.7rem;
    color: var(--color-grey-dark-2);
    margin-bottom: 1.2rem;
    font-weight: 300;
    text-transform: capitalize; }
  .text__basic {
    width: 60%;
    margin: 0 auto;
    font-size: 1.2rem; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-green-2);
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    fill: var(--color-green-2);
    width: 1.75rem;
    height: 1.75rem; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__rating {
    background-color: var(--color-green-2);
    margin-left: 3rem;
    color: #fff;
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1.5rem; } }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-average {
        font-size: 1.8rem; } }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-count {
        font-size: .5rem; } }

.btn-inline {
  border: none;
  color: var(--color-green-2);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 46.3rem; }
  .card__side {
    height: 100%;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
    .card__side--front {
      background-color: #fff;
      animation: fadeIn ease-in 1.5s; }
    .card__side--back {
      transform: rotateY(-180deg);
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom right, var(--color-grey-dark-2), var(--color-grey-light-1)); }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom right, var(--color-grey-dark-2), var(--color-grey-dark-3)); }
      .card__side--back-3 {
        background-image: linear-gradient(to bottom right, var(--color-grey-dark-2), var(--color-grey-light-1)); }
  .card:hover .card__side--front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0); }
  .card__heading {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: var(--color-green-2);
    padding: 1rem 0; }
  .card__heading-span {
    padding: 1rem 1.25rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
  .card__rupee {
    color: var(--color-green-2);
    font-size: 5rem;
    padding-top: 1rem;
    margin-left: 3rem;
    font-weight: 100; }
  .card__tag {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem; }
  .card__details {
    padding: 1rem; }
    .card__details ul {
      list-style: none;
      width: 90%;
      margin: 0 auto; }
      .card__details ul li {
        font-size: 1.55rem;
        padding: .7rem;
        border-bottom: 1px solid var(--color-grey-light-2); }
    .card__details__icon {
      fill: var(--color-green-2);
      width: 1.75rem;
      height: 1.75rem;
      margin-right: .7rem; }
  .card__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price {
    margin-bottom: 8rem; }
    .card__price--head {
      color: var(--color-grey-light-3);
      font-size: 3rem;
      letter-spacing: .8rem;
      text-transform: uppercase;
      font-weight: 300;
      border-bottom: 1px solid var(--color-grey-light-3); }
    .card__price--amount {
      font-size: 6rem;
      font-weight: 100;
      color: #fff; }
    .card__price--tagline {
      font-size: 1rem;
      font-weight: 300;
      color: var(--color-grey-light-3);
      margin-right: 1rem;
      text-transform: uppercase;
      letter-spacing: .2rem; }
  .card__recommend {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem; }

.review {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  .review__text {
    margin-bottom: 2rem;
    z-index: 10; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .review__rating {
    color: var(--color-green-2);
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -5rem;
    left: -1rem;
    line-height: 1;
    font-size: 28rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta__book-now {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-green-2), var(--color-green-1));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    padding: 2rem 0;
    position: absolute;
    left: 0;
    top: -100%; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-green-2), var(--color-green-1)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.btns {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-green-2), var(--color-green-4));
  color: #fff;
  padding: 2rem 7.5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block; }
  .btns:focus {
    outline: none;
    animation: pulsate 1s infinite; }
